<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Add Item</title>
</head>

<body>
<div>
    <label>Admin-Add Item</label>
    <a th:href="@{/adminDashboard}">Back to Dashboard</a>
</div>

<form  th:action="@{/addItem}" th:object="${item}" method="post">
    <div>
        <div>
            <label>Category</label>
            <input type="text" id="category" required th:name="category" minlength="4" maxlength="30">
            <!--<span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>-->
        </div>
        <div>
            <label>Title</label>
            <input type="text" id="title" required th:name="title" minlength="4" maxlength="30">
            <!--<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>-->
        </div>
        <div>
            <label>SKU Id</label>
            <input type="text" id="skuid" required th:name="SKUId" minlength="4" maxlength="30">
            <!--<span th:if="${#fields.hasErrors('skuid')}" th:errors="*{skuid}"></span>-->
        </div>
        <div>
            <label>Description</label>
            <input type="text" id="description" required th:name="description" minlength="4" maxlength="100">
            <!--<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>-->
        </div>
        <div>
            <label>Price</label>
            <input type="text" id="price" required th:name="price" min="1" max="100000">
            <div th:if="${#fields.hasErrors('price')}" th:errors="price"></div>
        </div>
        <div>
            <button type="submit" id="add-item">Add Item</button>

            <div id="error-message">Please enter valid input</div>
            <div id="duplicate-skuid-error-message">SKU Id already exists</div>
            <div id="general-error-message">Unexpected error occurred</div>
        </div>
    </div>
</form>


</body>
</html>